<div class="d-flex justify-content-between">
  <div>
    <h3 class="d-flex align-items-center my-0">{{isUpdate ? 'Yazıyı Güncelle' : 'Yazıyı Gör'}}</h3>
  </div>
  <button mat-button fs-4 (click)="close()">X</button>
</div>

<form [formGroup]="form" *ngIf="isUpdate">
  <div class="container">
    <div class="row">
      <mat-form-field>
        <mat-label>Blog Başlığı</mat-label>
        <input matInput placeholder="Title" formControlName="title">
        <mat-error *ngIf="form.get('title')?.hasError('required')">
          Başlık zorunludur
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Blog İçeriği</mat-label>
        <textarea matInput placeholder="Body" formControlName="body" cols="40" rows="10">
        </textarea>
        <mat-error *ngIf="form.get('body')?.hasError('required')">
          Blog içeriği zorunludur
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div>
    <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="onSubmit()">Güncelle</button>
  </div>
</form>

