<div style="display: flex; justify-content: center;">
  <nav>
    <ul class="pagination">
      <li class="page-item" [ngClass]="currentPage === 0 ? 'disabled' : ''">
        <!-- <a class="page-link" (click)="previousChange()" href="#">Önceki</a> -->
        <a class="page-link" (click)="currentPage = currentPage-1" href="#">Önceki</a>
      </li>

      <li class="page-item" [ngClass]="currentPage === i ? 'active' : ''" *ngFor="let iamge of images; let i=index">
        <!-- <a class="page-link" (click)="onPageChange(i)" href="#">{{i+1}}</a> -->
        <a class="page-link" (click)="currentPage = i" href="#">{{i+1}}</a>
      </li>

      <li class="page-item" [ngClass]="currentPage === images.length-1 ? 'disabled' : ''">
        <!-- <a class="page-link" (click)="nextChange()" href="#">Sonraki</a> -->
        <a class="page-link" (click)="currentPage = currentPage+1" href="#">Sonraki</a>
      </li>
    </ul>
  </nav>
</div>


<div style="text-align: center;">
  <h5>{{images[currentPage].title}}</h5>
  <!-- <img src={{images[currentPage].url}}> -->
  <img [src]=images[currentPage].url>
</div>

